<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
  <form [formGroup]="addWordListForm" (ngSubmit)="submitForm()" class="form">
  <mat-card class="add-wordpack-card">
    <mat-card-header>
      <mat-card-title class="add-pack-title"><h1>Create A New Word List</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">

	<!-- wordPacks -->
<div formArrayName="wordPacks">
<div *ngFor="let wordPacks of addWordListForm['controls']; let ix=index">
  <label>
    Name:
    <mat-form-field>
      <mat-label>Word Pack Name</mat-label>
      <input matInput placeholder="Name" formControlName="name"
            required>
      <mat-error *ngFor="let validation of addWLValidation.wordPacks.name">
        <mat-error class="error-message" data-test="nameError"
          *ngIf="addWordListForm.get('name').hasError(validation.type) && (addWordListForm.get('name').dirty || addWordListForm.get('name').touched)">
        {{validation.message}}
        </mat-error>
      </mat-error>
    </mat-form-field>
  </label>
  <mat-radio-group>
    <mat-radio-button class="wordpack-enabled-box-true" value="true">Enabled</mat-radio-button>
    <mat-radio-button class="wordpack-enabled-box-false" value="false">Disabled</mat-radio-button>
  </mat-radio-group>

  <!-- Nouns -->

    <div formArrayName="nouns" >
    <h3>Nouns:</h3>
      <div *ngFor="let nouns of addWordListForm['controls'].nouns['controls']; let iy=index">
        <div formGroupName="{{iy}}" class="nouns">
          <div>
          </div>
          <mat-form-field>
            <mat-label>Word</mat-label>
            <input autocomplete="off" matInput placeholder="Word" formControlName="word" >
          </mat-form-field>

          <div *ngFor="let forms of nouns['controls'].forms['controls']; let iz=index">
            <mat-form-field formArrayName="forms">
              <mat-label>Forms:</mat-label>
              <input autocomplete="off" matInput placeholder="form" [formControlName]="iz" class="formInput">
              </mat-form-field>


          </div>
          <!--add button-->
          <div class="add-button">
            <button class="add-button" type="button">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <!--end add button-->

        </div>
      </div>
      <button class="add-noun-button" type="button" (click)="addPosArray(ix,'nouns')" value="Add Noun">Add Noun</button>
    </div>


  <!-- Nouns End -->
  <!-- Adjectives -->

    <div formArrayName="adjectives" >
    <h3>Adjectives:</h3>
      <div *ngFor="let adj of addWordListForm['controls'].adjectives['controls']; let iy=index">
        <div formGroupName="{{iy}}" class="adjectives" >


          <mat-form-field>
            <mat-label>Word</mat-label>
            <input autocomplete="off" matInput placeholder="Word" formControlName="word" >
          </mat-form-field>
          <!---Forms -->
          <div *ngFor="let forms of adj['controls'].forms['controls']; let iz=index">
            <mat-form-field formArrayName="forms">
              <mat-label>Forms:</mat-label>
              <input autocomplete="off" matInput placeholder="form" [formControlName]="iz" class="formInput">
            </mat-form-field>

          </div>

          <div class="add-button">
            <button class="add-button" type="button">
              <mat-icon>add</mat-icon>
            </button>
          </div>

        </div>
      </div>
      <button class="add-adj-button" type="button" value="Add Adjective">Add Adjective</button>
    </div>


  <!-- Adjectives End -->
  <!-- Verbs -->

  <div formArrayName="verbs">
    <h3>Verbs:</h3>
    <div *ngFor="let verbs of addWordListForm['controls'].verbs['controls']; let iy=index">
      <div formGroupName="{{iy}}" class="verbs" >



        <mat-form-field>
          <mat-label>Word</mat-label>
          <input autocomplete="off" matInput placeholder="Word" formControlName="word" >
        </mat-form-field>
        <!---Forms -->
        <div *ngFor="let forms of verbs['controls'].forms['controls']; let iz=index">
          <mat-form-field formArrayName="forms">
            <mat-label>Forms:</mat-label>
            <input autocomplete="off" matInput placeholder="form" [formControlName]="iz" class="formInput">

            </mat-form-field>

        </div>
        <!--add button-->
        <div class="add-button">
          <button class="add-button" type="button">
            <mat-icon>add</mat-icon>
          </button>
        </div>
          <!--end add button-->


      </div>
    </div>
    <button class="add-verb-button" type="button" value="Add Verb">Add Verb</button>
  </div>


  <!-- Verbs End -->
  <!-- Misc -->
    <div formArrayName="misc">
      <h3>Misc:</h3>
      <div *ngFor="let misc of addWordListForm['controls'].misc['controls']; let iy=index">
        <div formGroupName="{{iy}}" class="misc" >



          <mat-form-field>
            <mat-label>Word</mat-label>
            <input autocomplete="off" matInput placeholder="Word" formControlName="word" >
          </mat-form-field>
        <!---Forms -->
        <div *ngFor="let forms of misc['controls'].forms['controls']; let iz=index">
          <mat-form-field formArrayName="forms">
            <mat-label>Forms:</mat-label>
            <input autocomplete="off" matInput placeholder="form" [formControlName]="iz" class="formInput">

            </mat-form-field>

        </div>
        <!--add button-->
        <div class="add-button">
          <button class="add-button" type="button">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <!--end add button-->


        </div>
      </div>
      <button class="add-misc-button" type="button" value="Add Misc"> Add Misc</button>
    </div>

<!-- Misc End -->
  </div>
  <div>
    <button class="add-wordPack-button" type="button" (click)="addWordPack()" value="Add wordPack">Add wordPack</button>
  </div>


</div>



</mat-card-content>
</mat-card>
	<!-- X End -->
</form>
<div class="buttons-div">
  <button type="submit" (click)="submitForm()"
    mat-button
    type="button"
    color="primary"
    [disabled]="!addWordListForm.valid"
    type="submit"
    data-test="confirmAddPackButton"
  >
    ADD WORD LIST
  </button>
</div>
