
mat-card-title{
  font-family: 'Verdana';
  font-size: larger;
}

mat-radio-button{
  font-family: 'Verdana';
  font-size: 14px;
}

h3, h1, mat-form-field{
  font-family: 'Verdana';
}

mat-label, label{
  font-family: 'Verdana';
  font-size: large;
}

button{
  font-family:'Verdana';
  width: max-content;
  background-color: #64ceff;
  border-radius: 1px;
}

.word-lists {
  width: 50%;
  margin: 10px;
  box-shadow: 10px 5px 5px #64ceff;
  border-width: 2px;
  border-radius: 4px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(133, 133, 133), rgb(150, 150, 150));
}
