
mat-card-title{
  font-family: 'Amatic SC';
  font-size: larger;
}

mat-radio-button{
  font-family: 'Amatic SC';
  font-size: 20px;
}

h3, h1, mat-form-field{
  font-family: 'Amatic SC';
}

mat-label, label{
  font-family: 'Amatic SC';
  font-size: large;
}

button{
  font-family:'Amatic SC';
  width: max-content;
}
