
mat-card-title{
  font-family: 'Verdana';
  font-size: larger;
}

mat-radio-button{
  font-family: 'Verdana';
  font-size: 20px;
}

h3, h1, mat-form-field{
  font-family: 'Verdana';
}

mat-label, label{
  font-family: 'Verdana';
  font-size: large;
}

button{
  font-family:'Verdana';
  width: max-content;
  background-color: #64ceff;
}
