mat-card-actions{
  width:inherit;
}

button{
  font-family: 'Amatic SC';
  width: 100%;
  font-size: 15px;
}

mat-card, mat-card-title{
text-align:left;
font-size: 25px;
}

mat-card-footer{
  margin:10px;
  text-align: left;
}
