app-contextpack-card{
  font-family: 'Verdana'
}

button {
  font-family: 'Verdana';
  font-size: 32px;
  font-weight: bold;
  padding: 4px 4px 4px 6px;
  background-color: #53a9f0;
  color: white;
  border-radius: 10px;
  margin: 2px;
  line-height: normal;
}
