<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">

    <mat-card class="search-card">
      <mat-card-title class="contextpack-list-title">Context Packs</mat-card-title>
      <mat-card-content fxLayout="column">
        <br>
        <div fxLayout="row wrap" fxLayoutGap="10px">
          <label>View type: </label>
          <mat-radio-group aria-label="View type" [(ngModel)]="viewType" data-test="viewTypeRadio">
            <mat-radio-button value="card">Card</mat-radio-button>
            <mat-radio-button value="list">List</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" *ngIf="serverFilteredContextPacks; else packsError" >
    <!-- Switch between card and list view based on the viewType variable, set above in the mar-radio-group -->
    <div [ngSwitch]="viewType">

      <!-- Card grid view -->
      <div *ngSwitchCase="'card'" fxLayout="row wrap" fxLayoutGap="10px" class="packs-cards-container">
        <app-contextpack-card simple="true" *ngFor="let contextPack of filteredPacks" class="packs-card" [contextPack]="contextPack" fxFlex="1 1 280px"></app-contextpack-card>
      </div>

      <!-- List view -->
      <mat-card *ngSwitchCase="'list'">
        <mat-card-content>
          <mat-nav-list class="contextpack-nav-list">
            <a mat-list-item *ngFor="let contextpack of this.serverFilteredContextPacks" [routerLink]="['/contextpacks', contextpack._id]" class="contextpack-list-item">
              <h3 matLine class="contextpack-list-name"> {{this.contextpack.name}} </h3>
            </a>
            <mat-card-actions>
              <button mat-button data-test="viewWordPackButton" *ngIf="this.simple" [routerLink]="['/contextpacks', contextPack._id]">View Context Pack</button>
            </mat-card-actions>
          </mat-nav-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
  <ng-template #packsError>
    <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="packs-error">
      <mat-error>
        There was a problem loading the context packs. Possibly the server is down or perhaps there are network
        issues.
      </mat-error>
      <mat-error>
        Please wait a bit and try again or start the server.
      </mat-error>
    </div>
  </ng-template>

</div>

<button mat-fab class="add-contextPack-fab" matTooltip="Add Context Pack" matTooltipPosition="right" routerLink="/contextpacks/new" data-test="addContextPackButton">
  <mat-icon class="md-24" aria-label="Add Context Pack">add</mat-icon>
</button>

