mat-card-actions{
  width:inherit;
}

button{
  font-family: 'Verdana';
  font-size: 15px;
}

mat-card, mat-card-title{
text-align:left;
font-size: 16px;
}

.contextpack-card-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

mat-card-footer{
  margin:10px;
  text-align: left;
}

.contextpack-content{
  font-family: 'Verdana';
  text-align: left;
  line-height: 60px;
  margin: 10px;
  font-size: 14px;
  background-color: #b6b5b5;
}

h1{
  font-family: 'Verdana';
  font-size: 40px;
}

.bubble{
  padding: 4px 4px 4px 6px;
  background-color: #2196f3;
  color: white;
  border-radius: 10px;
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: inline;
  margin: 2px;
}
