<mat-card class= "contextpack-card" *ngIf="this.contextPack">
  <mat-card-header>
    <div mat-card-avatar class="contextPack-icon" [style.background]="'url(' + this.contextPack.icon + ')'"></div>>
    <mat-card-title class="contextpack-card-name">{{ this.contextPack.name }}</mat-card-title>
    <mat-card-content *ngIf="!this.simple">
      <p>Enabled: <span class="contextPack-card-enabled">{{contextPack.enabled}}</span></p>
      <p>Word Packs: <span class="contextPack-card-wordPack">{{contextPack.wordPacks[0].name}}</span></p>
    </mat-card-content>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button data-test="viewWordPackButton" *ngIf="this.simple" [routerLink]="['/contextpacks', this.contextPack._id]">View Context Pack</button>
  </mat-card-actions>
</mat-card>
